name: build


on: [pull_request, push]



jobs:

  build:

    runs-on: ubuntu-24.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        
      - name: Validate Gradle wrapper
        uses: gradle/actions/wrapper-validation@v4

      - name: Setup JDK 25
        uses: actions/setup-java@v4
        with:
          java-version: '25-ea'
          distribution: 'temurin'
          cache: gradle

      - name: Verify Java version
        run: java -version

      - name: Make Gradle wrapper executable
        run: chmod +x ./gradlew

      - name: Build
        run: ./gradlew build --no-daemon

      - name: Capture build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: Artifacts
          path: build/libs/
